{
  "openapi": "3.1.0",
  "info": {
    "title": "CommissionFlow API",
    "version": "1.0.0",
    "description": "REST API for managing sales transactions, clients, projects, and commissions",
    "contact": {
      "name": "CommissionFlow Support",
      "email": "support@commissionflow.com"
    }
  },
  "servers": [
    {
      "url": "https://api.commissionflow.com/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API key authentication. Get your API key from Settings → API Keys"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "code": {
            "type": "string",
            "description": "Error code"
          }
        },
        "required": ["error"]
      },
      "Sale": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the sale"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Sale amount"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Sale date"
          },
          "clientId": {
            "type": "string",
            "description": "Client identifier"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "approved", "rejected"],
            "description": "Sale status"
          },
          "commission": {
            "type": "number",
            "format": "float",
            "description": "Calculated commission amount"
          }
        },
        "required": ["id", "amount", "date", "status"]
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the client"
          },
          "name": {
            "type": "string",
            "description": "Client name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Client email"
          },
          "phone": {
            "type": "string",
            "description": "Client phone number"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        },
        "required": ["id", "name", "email"]
      }
    }
  },
  "paths": {
    "/sales": {
      "get": {
        "summary": "List sales",
        "description": "Retrieve a list of sales transactions",
        "operationId": "listSales",
        "tags": ["Sales"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "schema": {
              "type": "string",
              "enum": ["pending", "approved", "rejected"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Sale"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of sales"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create sale",
        "description": "Create a new sales transaction",
        "operationId": "createSale",
        "tags": ["Sales"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "description": "Sale amount",
                    "example": 1500.00
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Sale date",
                    "example": "2024-01-15T10:00:00Z"
                  },
                  "clientId": {
                    "type": "string",
                    "description": "Client identifier",
                    "example": "client_abc123"
                  },
                  "description": {
                    "type": "string",
                    "description": "Sale description",
                    "example": "Software license purchase"
                  }
                },
                "required": ["amount", "date", "clientId"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sale created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sale"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sales/{id}": {
      "get": {
        "summary": "Get sale",
        "description": "Retrieve a specific sale by ID",
        "operationId": "getSale",
        "tags": ["Sales"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sale ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sale"
                }
              }
            }
          },
          "404": {
            "description": "Sale not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update sale",
        "description": "Update an existing sale",
        "operationId": "updateSale",
        "tags": ["Sales"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sale ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "format": "float"
                  },
                  "status": {
                    "type": "string",
                    "enum": ["pending", "approved", "rejected"]
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sale updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sale"
                }
              }
            }
          },
          "404": {
            "description": "Sale not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete sale",
        "description": "Delete a sale",
        "operationId": "deleteSale",
        "tags": ["Sales"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Sale ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sale deleted successfully"
          },
          "404": {
            "description": "Sale not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "get": {
        "summary": "List clients",
        "description": "Retrieve a list of clients",
        "operationId": "listClients",
        "tags": ["Clients"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Client"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create client",
        "description": "Create a new client",
        "operationId": "createClient",
        "tags": ["Clients"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Acme Corp"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "contact@acme.com"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+1-555-0123"
                  }
                },
                "required": ["name", "email"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Sales",
      "description": "Sales transaction management"
    },
    {
      "name": "Clients",
      "description": "Client management"
    }
  ]
}
